/*
 * @NOTE: Prepend a `~` to css file paths that are in your node_modules
 *        See https://github.com/webpack-contrib/sass-loader#imports
 */
* {
  margin: 0;
  padding: 0;
}

body {
  position: relative;
  color: black;
  height: 100vh;
  font-family: sans-serif;
  overflow-y: hidden;
}

input[type="file"] {
  display: none;
}

.custom-file-upload {
  border: 1px solid #ccc;
  display: inline-block;
  padding: 6px 12px;
  cursor: pointer;
}

.btn-icon {
  width: 25px;
  height: 25px;
}
.main {
  background-color: whitesmoke;
  justify-content: center;
  display: flex;
}

.main .sidebar {
  /* padding: 10px; */
  background-color: white;
  /* flex: 3; */
  width: 250px;
  height: 100vh;
}

.main .sect {
  flex: 6;
  height: 100vh;
}

.connections-list {
  height: calc(100vh - 154px);
  scroll-behavior: smooth;
}

/* Hide scrollbar for Chrome, Safari and Opera */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.no-scrollbar {
  -ms-overflow-style: none;
  /* IE and Edge */
  scrollbar-width: none;
  /* Firefox */
}
